<%= form_with model: @cook_form, url: cooks_path,method: :post, class: 'form', id: 'new_cook', local: true do |f| %>
<div class="message-field">
  <%= f.text_field :name, placeholder: '料理名' %>
</div>
<div class="tag-field">
  <%= f.text_field :tag_name, placeholder: '料理で使う食材(タグ)' %>
</div>
<%= f.submit '送信', class: 'form-submit' %>
<% end %>

<h1>作成済みの料理名</h1>
<div class="contents row">
  <% @cooks.each do |cook| %>
  <td><%= cook.name %></td>
  <% end %>
</div>